@model WebStore.Domain.ViewModels.DetailsViewModel
@{
    ViewData["Title"] = "Корзина";
    Layout = "_LayoutBase";
}

<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Товар</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Итого</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                @{
                    var SumCart = 0m;
                }

                @foreach (var item in Model.CartViewModel.Items)
                {
                    SumCart += (item.Key.Price * item.Value);

                    <tr>
                        <td class="cart_product">
                            <a href=""><img src="images/shop/@item.Key.ImageUrl" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Key.Id">@item.Key.Name</a></h4>
                            <p>Артикул: 1089772</p>
                        </td>
                        <td class="cart_price" data-price="@item.Key.Price">
                            <p>@item.Key.Price.ToString("C")</p>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <a class="cart_quantity_up" data-id="@item.Key.Id"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="@item.Value" autocomplete="off" size="2">
                                <a class="cart_quantity_down" data-id="@item.Key.Id"> - </a>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price">@((item.Value * item.Key.Price).ToString("C"))</p>
                        </td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" data-id="@item.Key.Id"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="heading">
        <h3>Оформите заказ</h3>
    </div>
    <div class="row login-form">
        @await Html.PartialAsync("Partal/_OrderPartial", Model.OrderViewModel, new ViewDataDictionary(ViewData) { { "SumCart", SumCart } })
    </div>
</section>
