<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <environment include="Development">
        <link href="~/css/prettyPhoto.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/price-range.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/animate.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/main.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true">
    </environment>
    <environment exclude="Development">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @RenderSection("Styles", false)

    <!--[if lt IE 9]>
        <script src="~/js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    @*<script src="~/jquery/jquery.min.js"></script>*@
</head><!--/head-->
<body>
    @await Html.PartialAsync("Partial/_Header")

    @RenderBody()

    @await Html.PartialAsync("Partial/_Footer")

    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>

    <environment include="Development">
        <script src="~/js/price-range.js"></script>
        <script src="~/js/jquery.prettyPhoto.js"></script>
        <script src="~/js/main.js" asp-append-version="true"></script>
        <script src="~/js/Cart/CartLogic.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(function () {
            Cart.init({
                addToCartLink: "@Url.Action("AddToCart","Cart")",
                getCartViewLink: "@Url.Action("GetCartView", "Cart")",
                removeFromCartLink: "@Url.Action("RemoveFromCart", "Cart")",
                decrementLink: "@Url.Action("DecrementFromCart", "Cart")"
            });
        });
    </script>

    @RenderSection("Scripts", false)
</body>
</html>