@model IEnumerable<WebStore.Domain.ViewModels.ProductViewModel>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>

    @foreach (var product in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">
                            <img src="~/images/shop/@product.ImageUrl" alt="@product.Name" />
                            <h2>@product.Price.ToString("C")</h2>
                            <p>@product.Name</p>
                        </a>
                        <a asp-controller="Cart"
                           asp-action="AddToCart"
                           asp-route-Id="@product.Id"
                           asp-route-ReturnUrl="@Context.Request.Path"
                           class="btn btn-default add-to-cart">
                            <i class="fa fa-shopping-cart"></i>Добавить в корзину
                        </a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@product.Id">
                                <img src="~/images/shop/@product.ImageUrl" alt="@product.Name" />
                                <h2>@product.Price.ToString("C")</h2>
                                <p>@product.Name</p>
                            </a>
                            <a asp-controller="Cart"
                               asp-action="AddToCart"
                               asp-route-Id="@product.Id"
                               asp-route-ReturnUrl="@Context.Request.Path"
                               class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>Добавить в корзину
                            </a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href=""><i class="fa fa-plus-square"></i>Добавить в список желаний</a></li>
                        <li><a href=""><i class="fa fa-plus-square"></i>ДОбавить к сравнению</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }

    <ul class="pagination">
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>
</div><!--features_items-->