@model IEnumerable<WebStore.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Заголовок";
}

<h3>Сотрудники</h3>
<a asp-controller="Employes" asp-action="Edit" class="btn btn-success">Создать</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Возраст</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.SecondName</td>
                <td>@employee.FirstName</td>
                <td>@employee.Patronymic</td>
                <td>@employee.Age</td>
                <td>
                    <a asp-controller="Employes" asp-action="Details" asp-route-id="@employee.Id">
                        Детали
                    </a>
                </td>
                <td>
                    <a asp-controller="Employes" asp-action="Edit" asp-route-id="@employee.Id">
                        Ред.
                    </a>
                </td>
                <td>
                    <a asp-controller="Employes" asp-action="Delete" asp-route-id="@employee.Id">
                        Удаление
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
