@model IEnumerable<WebStore.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Заголовок";
    ViewBag.Title = "Новый заголовок страницы";

    Layout = "_Layout";
}

<section>
    <div>
        <h3>Сотрудники</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Возраст</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.SecondName</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.Patronymic</td>
                        <td>@employee.Age</td>
                    </tr>
                }
            </tbody>
        </table>

        <hr />
        @foreach (var employee in Model)
        {
            using (Html.BeginForm())
            {
                <div>
                    @*@Html.EditorForModel()*@
                    @Html.LabelFor(m => employee.FirstName)
                    @Html.EditorFor(m => employee.FirstName)
                </div>
                <div>
                    <input type="submit" value="Отправить" />
                </div>
                <a href="@Url.Action("Index", "Home")"> ссылка</a>
            }
        }
    </div>
</section>