@using WebStore.Domain.ViewModels.BreadCrumbs
@model IEnumerable<BreadCrumbsViewModel>

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Домой</a></li>
        <li><a asp-controller="Catalog" asp-action="Shop">Каталог</a></li>
        @foreach (var item in Model)
        {
            <li>
                @switch (item.BreadCrumbType)
                {
                    case BreadCrumbType.None: break;
                    case BreadCrumbType.Section:
                        <a asp-controller="Catalog" asp-action="Shop" asp-route-SectionId="@item.Id">@item.Name</a>
                        break;
                    case BreadCrumbType.Brand:
                        <a asp-controller="Catalog" asp-action="Shop" asp-route-BrandId="@item.Id">@item.Name</a>
                        break;
                    case BreadCrumbType.Item:
                        @item.Name
                        break;
                    default:
                        throw new ArgumentOutOfRangeException();
                }
            </li>
        }
    </ol>
</div>